/* Styles for my Odin Project of Landing Page  */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

#header {
    height: 80vh;
    width: 100vw;
    background-color: #1F2937;
    padding: 10px;
}

#logo img {
    border: 8px solid hsl(0, 0, 255, 0.5);
    border-radius: 100px;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

#header #nav-links li {
    list-style-type: none;
}

nav {
    height: 61px;
    width: 80%;
    background-color: #1F2937;
    margin: 10px auto;
}

#navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 5px auto;
}

#nav-links #links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 42px;
}

#links li a {
    text-decoration: none;
    padding: 4px;
    font-size: 22px;
    color: #E5E7EB;
}

#intro {
    width: 1000px;
    background-color: #1F2937;
    margin: 120px auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#intro-text h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #F9FAF8;
    background-color: #1F2937;
    width: 400px;
    height: 104px;
}

#intro-text p {
    color: #F9FAF8;
    background-color: #1F2937;
    margin-bottom: 10px;
    font-size: 1.1rem;
    width: 420px;
    letter-spacing: 1.5px;
}

#intro-text #btn-sign-in {
    background-color: #3882F6;
    width: 150px;
    height: 40px;
    font-weight: bold;
    color: #E5E7EB;
    font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

#intro-img img {
    height: 233px;
    width: 520px;
    background-size: cover;
    border: 8px solid hsla(0, 0, 255, 0.5);
    border-radius: 15px;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.8);
}

main {
    background-color: #F9FAF8;
    text-align: center;
    padding: 40px;
    height: 416px;
    width: 100vw;
}

main #title {
    font-size: 18px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}

main #illustration-img {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

main #illustration-img img {
    height: 220px;
    width: 220px;
    object-fit: cover;
    margin: 20px;
    border: 8px solid hsla(0, 0, 255, 0.5);
    border-radius: 20px;
    box-shadow: 10px 10px 60px black;
}

main #illustration-img p {
    width: 255px;
    font-size: 1.1em;
    font-weight: 600;

}

#quote {
    background-color: #E5E7EB;
    height: 400px;
    font-family: "Italic";
    padding: 1px;
    width: 100vw;
}

#quote #quote-text p {
    font-size: 33px;
    font-style: italic;
    color: #1F2937;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    width: 50%;
    letter-spacing: 2px;
    line-height: 1.1;
    font-weight: 100;
}

#quote #quote-text #author {
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
    width: 50%;
    font-size: 25px;
}

#sign-up {
    background-color: #F9FAF8;
}

#sign-up-info p {
    font-size: 1.2rem;
}

#sign-up-card {
    background-color: #3882F6;
    width: 70%;
    margin: 50px auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    color: #E5E7EB;
}

#sign-up-btn #btn {
    background-color: #3882F6;
    width: 150px;
    height: 40px;
    font-weight: bold;
    color: #E5E7EB;
    font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border: 2px solid white;
    box-shadow: 5px 5px 10px black;
}

#sign-up-btn #btn:hover {
    background-color: rgba(31, 20, 70, 0.3);
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 70px;
    padding: 1px;
    width: 100vw;
}

footer p {
    font-size: 1.3em;
    margin: 20px auto;
    width: 40%;
    text-align: center;
    font-weight: 700;
}
